html {
    overflow-x: hidden;
    width:100vw;
    font-size: 10px;
  }
  
  @media (max-width: 820px) {
    html {
      font-size: 8px;
    }
  }
  
  @media (max-width: 320px) {
    html {
      font-size: 7px;
    }
  }
  
  .body {
    background-color: #f6f6ec;
  }
  
  .wrapper {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .meme {
    padding: 2rem 0;
    border-top: 0.2rem solid #bb01ff;
  }
  
  .meme-input {
    display: none;
  }
  
  .meme-btn {
    display: grid;
    grid-template-columns: 1fr 2rem;
  }
  
  .meme-title {
    color: #bb01ff;
    font-size: 2.4rem;
    transition-duration: 0.5s;
  }
  